body, html {
    padding: 0px;
    margin: 0px;
    height: 100%;
    background-color: darkseagreen ;
}
header {
    height: 10%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}
.container {
    height: 81%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkseagreen ;
}
.container-fazendo {
    background-color: red;
    height: 75%;
    width: 26%;
    display: flex;
}
.container-fazer {
    background-color: yellow;
    height: 75%;
    width: 26%;
    display: flex;
}
.container-concluido {
    background-color: green;
    height: 75%;
    width: 26%;
    display: flex;
}
footer {
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    border-top: 1px solid black;
}
.label-logoff {
    width: 40%;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
}
.label-titulo {
    width: 69%;
    display: flex;
    justify-content: flex-end;
}
