body, html {
    padding: 0px;
    margin: 0px;
    height: 100%;
    background-color: darkseagreen ;
}
header {
    height: 10%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}
.container {
    height: 81%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8D8D8 ;
}

footer {
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    border-top: 1px solid black;
}
.label-logoff {
    width: 40%;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
}
.label-titulo {
    width: 69%;
    display: flex;
    justify-content: flex-end;
}

.tarefa-column {
    border-left: 1px solid black;
    display: flex;
    flex-flow: column;
    height: 90%;
    width: 26%;
    overflow: auto;
    margin-left: 10px;
}

.tarefa a {
    pointer-events: none;
}

.scroll4::-webkit-scrollbar {
  width: 10px;
}
 
.scroll4::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.scroll4::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.tarefa-column h4 {
    margin-left: 7px;
}

.container-fazer {
   background: -webkit-linear-gradient(-45deg, rgba(210,255,82,1) 0%, rgba(248,255,227,1) 100%);
}

.container-fazendo {
    background: -webkit-linear-gradient(-45deg, rgba(247,255,0,1) 0%, rgba(248,255,227,1) 100%);
}

.container-concluido {
    background: -webkit-linear-gradient(-45deg, rgba(204,43,43,1) 0%, rgba(180,160,160,0.31) 95%, rgba(179,166,166,0.31) 100%);
}
