body, html {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
.container {
    display: flex;
    height: 90%;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-login {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background-color: #f0f0f0;
}

.form {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: space-between;
}
h2, h3 {
    text-align: center;
}
footer {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top: 1px solid white;
    border-bottom: 1px solid #a3a3a3;
}

footer p {
    color: white;
}

header {
    height: 10%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}
.label-login {
    width: 50%;
    height: 13%;
}
.label-a {
    width: 50%;
    height: 13%;
}
input {
    margin: 10px 10px;
    height: 48px !important;
}
#login-button {
    margin: 5% 0%;
    height: 40px;
}
.label-logoff {
    width: 40%;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
}
.label-titulo {
    width: 69%;
    display: flex;
    justify-content: center;
}

.label-titulo h1 {
    font-size: 28px;
}

.container-login h2{
    font-size: 24px;
}

.add-proj-inp {
    height: 15px;
    margin: 8px;
}