body, html {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
header {
    height: 10%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}
.container {
    height: 81%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    align-items: center;
    background-color: #D8D8D8;  
}
.container-projeto {
    margin-top: 20px;
    height: 75%;
    width: 70%;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: auto;
}
footer {
    height: 9%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top: 1px solid white;
    border-bottom: 1px solid #a3a3a3;
}

footer p {
    color: white;
}


button {
    border-radius: 50px;
    background-color: lightcoral;
    border: 1px solid white;
}
.label-projeto {
    width: 70%;
    height: 10%; 
    display: flex;
    justify-content: flex-start;
}
.label-logoff {
    width: 40%;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
}
.label-titulo {
    width: 69%;
    display: flex;
    justify-content: flex-end;
}
.label-add {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin: 15px 0px;
}

.projeto {
    width: 25%;
    height: 40%;
    background-color: aqua;
    margin: 0px 5px; 
}

.projeto > .projeto-dado{
    color: blueviolet;
    pointer-events: none;
    text-decoration: none;
}

.form-untouched {
    display: none;
}

.form-invalid {
    display: block;
    color: red;
    font-size: 10px;
}

.projeto-dado {
    color: black;
    text-decoration: none !important;  
}

.scroll4::-webkit-scrollbar {
  width: 10px;
}
 
.scroll4::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.scroll4::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.novo-projeto {
    width: 30%;
    height: 35%;
}