

/* body, html {
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 100%;
}
header {
    height: 10%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}
.container {
    height: 81%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    align-items: center;
    background-color: darkseagreen;
}
.container-projeto {
    background-color: dimgray;
    height: 75%;
    width: 70%;
    align-items: center;
    display: flex;
}

button {
    border-radius: 50px;
    background-color: lightcoral;
    border: 1px solid white;
    width: 30px;
    height: 30px;
}
.label-projeto {
    width: 70%;
    height: 10%; 
    display: flex;
    justify-content: flex-start;
}
.label-logoff {
    width: 40%;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
}
.label-titulo {
    width: 69%;
    display: flex;
    justify-content: flex-end;
}
.label-add {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin: 15px 0px;
}

.projeto {
    width: 25%;
    height: 40%;
    background-color: aqua;
    margin: 0px 5px; 
}

.projeto > .projeto-dado{
    color: blueviolet;
    pointer-events: none;
} */
footer {
    position:absolute;
    bottom:0;
    height: 57px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.9;
    border-top: 1px solid black;
}
header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.label-titulo {
    display: flex;
    justify-content: center;
    align-items: flex-end !important;
}
.container-projeto {
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    align-items: center;
    background-color: darkseagreen;
}
.container {
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    align-items: center;
    background-color: darkseagreen;
}
.label-add {
    width: 99%;
    display: flex;
    justify-content: flex-end;
    margin: 15px 0px;
}
.novo-projeto{
    float: left!important;
}