body, html {
    padding: 0px;
    margin: 0px;
    height: 100%;
}
footer {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    border-top: 1px solid black;
}
header {
    height: 10%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}
.container {
    display: flex;
    height: 90%;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-login {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background-color: darkseagreen;
}
.form {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: space-between;
}
.label-login {
    width: 50%;
    height: 13%;
}
.label-a {
    width: 50%;
    height: 13%;
}
input {
    margin: 2% 0%;
    height: 20px;
}
#login-register {
    margin: 5% 0%;
    height: 20px;
}
h4 {
    margin: 0.5%;
}
.label-logoff {
    width: 40%;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
}
.label-titulo {
    width: 69%;
    display: flex;
    justify-content: flex-end;
}